@media only screen and (max-width: 900px) {
    /* body{
        background-color: aqua;
    } */
    .carousel-img{
        object-fit: cover;
        object-position: 50% 0%;
        opacity: 70%;
        height: 100vh;
    }
/* <------------------------------------------------------------------------> */
    /* CAROUSEL IMAGE FIRST/MAIN */
    .carousel-main > :first-child{
        position: absolute;
        text-align: center !important;
        font-size: 1.3rem !important;
        top: -25rem !important;
        left: 3rem !important;
    }
    .carousel-main > :nth-child(2){
        position: absolute;
        font-size: .7rem !important;
        top: -23rem !important;
        left: 3rem;
    }
    .carousel-main > :nth-child(3){
        display: none;
        /* position: absolute;
        font-size: .5rem;
        top: -16.5rem;
        left: 3rem; */
    }
    .carousel-main > :nth-child(4){
        position: absolute;
        font-size: .7rem;
        top: -19rem;
        left: 3rem !important;
    }    
/* <------------------------------------------------------------------------> */
    /* CAROUSEL IMAGE 2 */
    .carousel-2{
        position: absolute;
        text-align: left;
    }
    .carousel-2 > :nth-child(1){
        font-size: 1.3rem !important;
        position: relative;
        top: -20rem;
        left: -2rem;
    }
    .carousel-2 > :nth-child(2){
        font-size: .6rem !important;
        position: relative;
        top: -20rem;
        left: -2rem;
    }
/* <------------------------------------------------------------------------> */
    /* CAROUSEL IMAGE 3 */
    .carousel-3{
        position: absolute;
        text-align: center;
    }
    .carousel-3 > :nth-child(1){
        font-size: 1.3rem !important;
        position: relative;
        top: -20.5rem;
        left: -3.2rem;
    }
    .carousel-3 > :nth-child(2){
        text-align: left;
        font-size: .7rem !important;
        position: relative;
        top: -20.5rem;
        left: 3rem;
    }
    .feature-list{
        margin-bottom: 0 !important;
        height: 50vh;
    }
    .feature-list .img-feature{
        width: 100%;
        height: 400%;
    }
    .feature-list .feature-text-container{
        text-align: center;
        color: rgba(0, 0, 0, 10);
    }
    #footer-list{
        display: flex !important;
        justify-content: center !important;
    }
}